

.container.skills-page {
  width: 100%;
  display: block;
  

a {
  color: #00e1ff
  }


body{
    margin-top: 3px;
    padding: 1px;
    box-sizing: border-box;
   
  }
  
  .text-zone{
    margin-bottom: 400px;
  }


  .tagCloud{
    margin-top: 100px;
  }


  .tagcloud {
    display: inline-block;
    top: 0;
    left: 0;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    letter-spacing: 0.0625em;
    font-size: 1.3em;
    color: #FFFFFF;
    margin-left: 500px;
    margin-bottom: 100px;
    
  }

  .tagcloud--item:hover {
    color: #00e1ff 
    
  }

  

 
}

  @media screen and (max-width: 1200px)  {

   
    .container.skills-page {
      // width: 100%;
      display: block;


    a {
      color: #00e1ff
      }
    
    
    body{
        margin-top: 3px;
        padding: 1px;
        box-sizing: border-box;
       
      }
      
      .text-zone{
        margin-bottom: 400px;
        display: block;
      }

   

    .cloudContainer{
      // position: relative;
      transform: scale(0.5) translate(-100%, -100%);
      width: 100%;
      float: none;
      
      // top: 800px;
      // right: 45px;
      //  width: 10px;
    // height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
    // max-width: 50rem;
    // margin-bottom: 2000px;
      
    }

    .tagCloud {
    position: absolute;
    top: auto;
    display: inline-block;
    // bottom: 500px;
    color: #fff;
    font-family: 'Poppins', sans-serif;  
    font-size: 15px;
    font-weight: 650;
     margin-right:  55px;
    mask-repeat: no-repeat;
    width: 100%;
    height: 100%;
    
    // margin-bottom: 500px;
    // margin-right: 500px;
    transform: scale(0.5) translate(-100%, -100%);
  
    }

    .tagcloud {
     
      margin-bottom: 450px;
      margin-right: 125px;
      display: inline-block;
    
      }



    h1 {
      font-size: 53px;
      font-family: 'Coolvetica';
      color: #00e1ff;
      font-weight: 400;
      margin-top: 0;
      position: relative;
      margin-bottom: 40px;
      left: -10px;

      &:before {
        content: '<h1>';
        font-family: 'La Belle Aurore', cursive;
        color: #00e1ff;
        font-size: 18px;
        position: absolute;
        margin-top: -10px;
        left: -10px;
        opacity: 0.6;
        line-height: 18px;
      }

      &:after {
        content: '<h1/>';
        font-family: 'La Belle Aurore', cursive;
        color: #00e1ff;
        font-size: 18px;
        line-height: 18px;
        position: absolute;
        left: -30px;
        bottom: -20px;
        margin-left: 20px;
        opacity: 0.6;
      }
    }

    

    // .content{
    //   position: center;
    //   float: center;
    //   display: block;
      
    // }  

    
  }
    
  }
